h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 2px 2px 1px black;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 30px;
    margin-top: 0;
    box-shadow: 2px 2px 1px black;
}

#Login-section{
    
    background-color: white;
    position: relative;
    padding-bottom: 20px;
}

#Register-section{
 
    background-color:white;
    position: relative;
    padding-bottom: 20px;
}

.login{
    width:25%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: darkgray;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   padding: 10px;
   box-shadow: 3px 7px 3px black;
}

input, label{
    padding: 10px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

button{
    background-color: silver;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 30%;
    font-weight: bold;
    margin: 10px ;
}

.register{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    box-shadow: 3px 7px 3px black;
}

.btn{
    background-color: darkgrey;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    margin: 15px ;
    padding: 20px;
    cursor: pointer;
    position: relative;
    left: 46%;
    transform: translate(-50%);
}